/* Background pattern from Toptal Subtle Patterns */
body {
    margin: 0 auto;
    background:url("img/doodles.png");
}
.whiteHR{
    border-color: white;
}
.youtubeVideo{
    width: 560px;
    height: 315px;
    border: 0px;
    margin-bottom: 3rem;
}
p, h4 {
    text-align: center;
}
.center{
    text-align: center;
}
.textP{
    text-align: justify;
}
